.h1 {
    text-align: center;
}

form {
    padding: 0 1.5em;
}

.form-wrapper {
    background: white;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}

.button-panel {
    margin: 2em 0 0;
    width: 100%;
}

.button-panel2 {
    margin: 2em 0 0;
    width: 100%;
}

.button-panel .button {
    background: lightcoral;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.button-panel2 .button {
    background: lightgrey;
    border: none;
    color: #000;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.button:hover {
    background: pink;
}