p {
    text-align: center;
    padding: auto;
}

.button-panel {
    margin: 2em 0 0;
    width: 100%;
}

.button-panel .button {
    background: lightcoral;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.button-panel2 .button {
    background: lightgrey;
    border: none;
    color: #000;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.button:hover {
    background: pink;
}