 html {
     overflow: hidden;
 }
 
 body {
     overflow: hidden;
     padding: 0;
     margin: 0;
     width: 100%;
     height: 100%;
     background: gray;
 }
 
 #log {
     background: white;
     margin: 0;
     padding: 0.4em 0.4em 0.4em 0.4em;
     position: absolute;
     top: 3em;
     left: 1em;
     right: 1em;
     bottom: 5em;
     overflow: auto;
 }
 
 #form {
     padding: 0 0.5em 0 0.5em;
     margin: 0;
     position: absolute;
     bottom: 2em;
     left: 0px;
     width: 100%;
     overflow: hidden;
 }
 
 #user {
     color: #fff;
 }